*~
*.backup
*.kdev4
*.o
*.pyc
*.pdf
*.swp*
doc/manual/manual.pdf
farhorizons.yml
farhorizons.cfg
players*.csv
venv

# LaTeX
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.synctex.gz
*.toc
*.vrb
/.cproject
/.project
/.settings/
/.pydevproject
/original

# IDE files
.cproject/
.idea/
.project/
.pydevproject/
.settings/
.vs/
cmake-build-debug/
