*~
players*.csv
*.pyc
game/
doc/manual/manual.pdf
*.backup
bin/
*.swp*
*.kdev4
build/
*.o
farhorizons.yml
farhorizons.cfg
venv

# LaTeX
*.aux
*.bbl
*.blg
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nlo
*.out
*.toc
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.nav
*.snm
*.vrb
/.cproject
/.project
/.settings/
/.pydevproject
