make.all       text eol=lf
mk.addsp       text eol=lf
mk.addsp.auto  text eol=lf
mk.asc         text eol=lf
mk.bin         text eol=lf
mk.combat      text eol=lf
mk.edit        text eol=lf
mk.finish      text eol=lf
mk.home        text eol=lf
mk.home.auto   text eol=lf
mk.jump        text eol=lf
mk.listgal     text eol=lf
mk.loc         text eol=lf
mk.mapgal      text eol=lf
mk.mapprint    text eol=lf
mk.mho         text eol=lf
mk.near        text eol=lf
mk.newgal      text eol=lf
mk.no          text eol=lf
mk.post        text eol=lf
mk.pre         text eol=lf
mk.pro         text eol=lf
mk.report      text eol=lf
mk.scan        text eol=lf
mk.set         text eol=lf
mk.setup       text eol=lf
mk.showgal     text eol=lf
mk.stats       text eol=lf
mk.turn        text eol=lf
