# directory of far horizons executables
bindir: /home/ramblurr/src/fh/bin

googleaccount:
    user: this should be an email
    password:
    spreadsheet: must be exact name

# list of games goes here
# this is so you can run multiple games at once
games:
    - Galaxy Alpha

# individual game settings get their own section
Galaxy Alpha:
    # stub is a short whitespace-free acronym of the game name
    stub: GA
    # the game data location, it shout NOT be the same as other games
    datadir: /home/ramblurr/src/fh/engine/game
    # the timezone that your turn deadlines are in
    timezone: UTC
    # the turn deadlines, must be in 24hr format
    deadlines:
        - 'Sunday 13:00'
        - 'Wednesday 13:00'

